@font-face {
  font-family: 'Rock Salt';
  src: url(../../public/fonts/RockSalt.ttf); }

@font-face {
  font-family: 'Alegreya';
  src: url(../../public/fonts/Alegreya-Regular.ttf); }

@font-face {
  font-family: 'Alegreya Bold';
  src: url(../../public/fonts/Alegreya-Bold.ttf); }

body {
  margin: 0 10px;
  font-family: 'Alegreya', serif;
  font-size: 17px;
  background-color: #EEEEEE; }

.hero {
  margin-top: 30px;
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  text-align: center; }

.hero a {
  color: black;
  text-decoration: none; }

.hero hr {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  border-width: 3px;
  border-color: #bbbbbb; }

.sample-recipes {
  text-align: center; }

.sample-recipes a {
  font-family: 'Alegreya Bold';
  color: black;
  border: 1px solid #bbbbbb;
  padding: 10px;
  background-color: white; }

.sample-recipes a:hover {
  text-decoration: none;
  cursor: pointer; }

a.add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  background-color: #ff534f;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  color: #EEEEEE;
  font-size: 2.5em;
  text-decoration: none;
  text-align: center;
  line-height: 56px; }

a.add-button:hover {
  text-decoration: none;
  color: white; }

.recipe-list {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin: 20px 0; }

.recipe-list img {
  width: 100%;
  height: 210px;
  opacity: 0.9;
  transition: opacity 0.4s; }

.recipe-list img:hover {
  opacity: 1; }

.recipe-title {
  padding-left: 10px;
  min-height: 60px;
  position: relative; }

.recipe-title h2 {
  font-size: 1.1em;
  display: inline-block; }

.recipe-title a {
  display: block;
  position: absolute;
  top: 16px;
  right: 10px;
  color: black;
  font-weight: bold; }

.recipe-title a:hover {
  text-decoration: none;
  cursor: pointer; }
